*{
    padding: 10px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

input{
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    border: 1px solid #5f9431;
}

button{
    background: #5f9431;
    color: #fff;
    border: 1px solid #5f9431;
    padding: 10px;
    margin: 5px 0px;
    font-weight: 700;
}

#delete-btn{
    background: #fff;
    color: #5f9431;
    border: 2px solid #5f9431;
    padding: 10px;
    margin: 5px 0px;
    font-weight: 700;
}

ul{
    list-style: none;
    padding-left: 0px;
}

li{
    padding-left: 0;
    padding-top: 5px;
}
a{
    color: #5f9431;
    padding-left: 0;
}
